@using Microsoft.AspNetCore.Identity
@using CPCoded.Models
@inject UserManager<ApplicationUser> userManager;
@model IEnumerable<LoanApplication>
@{
    ViewData["Title"] = "Rejected";
}

<div class="ll">
    <h2>Rejected Loans</h2>
    @if (!Model.Any())
    {
        <br>
        <a asp-action="ApplyLoan" asp-controller="Loan" class="btn btn-outline-primary">Apply for Loan</a>
        <a asp-action="Index" asp-controller="Loan" class="btn btn-outline-primary">Approved Applications</a>

        <a asp-action="PendingApp" asp-controller="Loan" class="btn btn-outline-primary">Pending Applications</a>
        <br />
        <!-- If the model is empty, show a message -->
        <div class="alert alert-warning">
            <h4 class="alert-heading">Table is Empty</h4>
            <p>No loans found in the database.</p>
            <p>Make a loan by making one above!</p>
        </div>
      
    }
    else
    {
        <a asp-action="ApplyLoan" asp-controller="Loan" class="btn btn-outline-primary">Apply for Loan</a>
        <a asp-action="PendingApp" asp-controller="Loan" class="btn btn-outline-primary">Pending Applications</a>

        <a asp-action="Index" asp-controller="Loan" class="btn btn-outline-primary">Approved Applications</a>
        <br />
        <table class="table table-responsive loan-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Duration (Months)</th>
                    <th>Loan Type</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loan in Model)
                {
                    <tr class="@(loan.Status == LoanApplication.LoanStatus.PaidOff ? "table-success" : "")">
                        <td>@loan.Id</td>
                        <td>@loan.LoanAmount</td>
                        <td>@((int)loan.DurationInMonths)</td>
                        <td>@loan.LoanType</td>
                        <td>@loan.ApplicationDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            @if (loan.Status == LoanApplication.LoanStatus.PaidOff)
                            {
                                <span class="text-success">Fully Paid</span>
                            }
                            else if (loan.Status == LoanApplication.LoanStatus.Rejected)
                            {
                                <span class="text-danger">
                                    Rejected
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </span>
                            }
                            else
                            {
                                @loan.Status
                            }
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>


    }
</div>

