@model CPCoded.Models.ApplicationUser

@{
    ViewData["Title"] = "Account Details";
}

<h1>Account Details</h1>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Balance</dt>
        <dd class="col-sm-10">@Model.Balance KWD</dd>

        <dt class="col-sm-2">Profile Picture</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ProfilePicturePath))
            {
                <img src="~/images/@Model.ProfilePicturePath" alt="Profile Picture" width="100" height="100" />
            }
            else
            {
                <span>No profile picture available</span>
            }
        </dd>

        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Gender</dt>
        <dd class="col-sm-10">@Model.Gender</dd>

        <dt class="col-sm-2">Account Number</dt>
        <dd class="col-sm-10">@Model.AccountNumber</dd>

        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.DateOfBirth.ToShortDateString()</dd>

        <dt class="col-sm-2">Civil ID</dt>
        <dd class="col-sm-10">@Model.CivilID</dd>

        <dt class="col-sm-2">Username</dt>
        <dd class="col-sm-10">@Model.UserName</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-primary" }) |
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>



