@model IEnumerable<CPCoded.Models.LoanApplication>

@{
    ViewData["Title"] = "AllApplications";
}

<h1>Pendeing Applications</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationInMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmount)
                </td>
                <td>
                    @((int)item.DurationInMonths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanType)
                </td>
                <td>
                    @if (item.Status == CPCoded.Models.LoanApplication.LoanStatus.Pending)
                    {
                        <form asp-action="Approve" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-outline-success">Accept</button>
                        </form>
                        <form asp-action="Reject" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-outline-success">Reject</button>
                        </form>
                    }
                    <a asp-action="UserDetails" asp-controller="Home" asp-route-id="@item.ApplicationUserId" class="btn btn-outline-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
